<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie Sauteuhz</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="divHeader">
        <a href="/"><img id="logoPharmacie" src="image/LogoPharmacie.png" alt="Logo Accueil"></a>
        <a href="/" id="titrePharmacie"><h1>Pharmacie Sauteuhz</h1></a>
        <a href="/connexion"><button>Connexion</button></a>
    </div>


