<!DOCTYPE html>
<html lang="fr-FR">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
      <link rel="stylesheet" href="./style/style.css">
      <link rel="stylesheet" type="text/css" href="./style/formulaire.css" media="all"/>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="./style/nav.js"></script>
      <title></title>
   </head>
   <body>
      <!-- ================= CONTENEUR POUR AFFICHAGE =================-->
      <div class="form-style-5">
         <form action=" " method="post">
            <fieldset id="dynamic">
               <legend class="heading">Inscription Sauveteur dunkerquois</legend>
               <legend><span class="number">1</span> Information sauveteur :</legend>
               <input type="text" class="field2" name="Nom" value="" placeholder="Nom">
               <input type="text" class="field2" name="Prenom" value="" placeholder="Prénom">
               <input type="date" class="field2" name="DateNaissance" value="" placeholder="date de naissance">

               <select class="field1" name="Deco0" id="Deco0">
                  <option selected>Décoration</option>
               </select>
               <button onclick="newline()">+</button>
               <script>
                  let a = 0;
                  let b = 0
                  function newline(){
                  a = a +1
                  let ecriture = "  <select class='field1' name='Deco"+a+"'>";
                  ecriture += "<option selected>Décoration</option>";
                  ecriture += "</select>";
                  document.getElementById('Deco'+b).write('afterend', ecriture);
                  document.getElementById('nbT').value = a;
                  b= b+1
               }

               </script>
               <legend><span class="number">2</span> Information Sauvetage :</legend>
               <input type="date" class="field2" name="DateMission" value="" placeholder="date de Mission">
               <textarea class="field2" name="DescriptionMission">Description de mission</textarea>
             
            </fieldset>
            <input type="submit" value="Envoyer">
         </form>
      </div>
      <p id="nbT"></p>
   </body>
   <!-- ================= FIN DU CONTENEUR =================-->
</html>
